<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blogs.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blogs.pojo.Admin">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="avatar" property="avatar" />
        <result column="motto" property="motto" />
        <result column="birthday" property="birthday" />
        <result column="city" property="city" />
        <result column="province" property="province" />
        <result column="country" property="country" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="reg_time" property="regTime" />
        <result column="login_time" property="loginTime" />
        <result column="github" property="github" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="auth" property="auth" />
    </resultMap>

</mapper>
