<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blogs.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blogs.pojo.Project">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="author" property="author" />
        <result column="describes" property="describes" />
        <result column="category" property="category" />
        <result column="tag" property="tag" />
        <result column="image" property="image" />
        <result column="file" property="file" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <select id="selectSomeLatestProject" resultType="com.blogs.dto.ProjectInfo">
        SELECT
            id,title
        FROM
            project
        LIMIT #{start},#{count}
    </select>
</mapper>
